*{
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 300px;
     font-style: normal;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/Back.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box{
    width: 80%;
    color: #fff;
    position: relative;
    top: 25px;
    left: 20%;
}
.headtext{
    font-size: 40px;
}
.plain-text{
    font-size: 25px;
}